.poke img {
  height: 30px;
  width: 30px;
  margin-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.poke {
  padding-left: 30px;
  list-style-type: none;
  width: 200px;
  height: 50px;
  font-family: 'Comfortaa';
}

.poke:hover {
  background-color: tomato;
  color: white;
  border-radius: 15px;
}

.pokeDetailImg {
  height: 200px;
  width: 200px;
  /* margin: auto; */
}

.pokelist {
  display: flex;
  /* justify-content: space-around; */
}
.list {
  margin-left: 30px;
  padding-left: 30px;
  font-size: 15px;
  font-family: 'Comfortaa';
  text-decoration: none;
  overflow: scroll;
  height: 850px;
}

.pokeDetail {
  width: 67%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.navlink {
  padding-left: 50px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.navlink:hover {
  color: tomato;
}

.itemDetails {
  padding-left: 50px;
  list-style-type: none;
  /* background-color: powderblue; */
  color: black;
  font-family: 'Comfortaa';
  font-size: 15px;
  width: 300px;
  height: 300px;
  text-align: center;
}

.itemImg {
  background-color: powderblue;
  width: 80px;
  height: 80px;
  padding-bottom: 50px;
}

.itemImg:hover {
  background-color: powderblue;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: black;
  font-family: 'Comfortaa'
}

.pokelists {
  text-decoration: none;
  color: black;
}

.items {
  font-size: 10px;
}

.itemslists {
  display: flex;
}

.itemdet {
  padding-bottom: 10px;
}

h3 {
  font-size: 20px;
}
